/* MEDIA QUERIES  */

@media only screen and (min-width: 2100px) {
  article {
    column-count: 1;
    column-gap: 35px;
    column-rule: 0.1em solid #000000;
    border: 0.01em dotted #000000;
    padding: 1em;
    font-size: 1.5em;
  }
}

/* SWITCHES TO SLICK NAV */
@media only screen and (max-width: 1520px) {
  #nav_menu {
    display: none;
  }

  #mobile_menu {
    display: block;
  }
}

@media only screen and (max-width: 1330px) {
  .index_header {
    background-image: url(../images/pavilion2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25px center;
    height: 3em;
    width: 100%;
  }
}

@media only screen and (max-width: 1150px) {
  article {
    column-count: 2;
    column-gap: 35px;
    column-rule: 0.1em solid #000000;
    border: 0.01em dotted #000000;
    padding: 1em;
  }

  #BandZ {
    margin-right: 1em;
    width: 22%;
    border: 0.2em solid #000000;
    float: left;
  }
}

@media only screen and (max-width: 750px) {
  .art_photos {
    width: 100%;
    border: 0.2em solid #000000;
    float: none;
    margin: 0 0.25em 0em 0em;
  }
  article {
    column-count: 1;
    column-gap: 35px;
    column-rule: 0.1em solid #000000;
    border: 0.01em dotted #000000;
    padding: 1em;
  }

  .index_header {
    background-image: url(../images/pavilion2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25px center;
    height: 2em;
    width: 100%;
  }
  #BandZ {
    margin-right: 1em;
    width: 27%;
    border: 0.2em solid #000000;
    float: left;
  }
}

@media only screen and (max-width: 560px) {
  .contact {
    font-size: 2.25em;
    padding: 0.5em;
    border: 0.15em solid #000000;
    text-align: left;
  }

  .contact a {
    font-size: 0.75em;
    border: none;
    text-align: left;
    text-decoration: none;
    display: block;
  }
  .contact a:hover {
    font-size: 1em;
    background-color: #f0f0f0;
  }

  .gallery_grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
    justify-items: center;
  }
  #BandZ {
    margin-right: 1em;
    width: 32%;
    border: 0.2em solid #000000;
    float: left;
  }
}

/* INDEX - WHAT THE HECK IS TASTE BUDZ */
@media only screen and (max-width: 520px) {
  #intro_header {
    text-align: center;
    font-family: "Rubik Dirt", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 2em;
    margin: 0.5em;
  }
  main {
    column-count: 1;
    font-size: 1.25em;
    border: 0.2em solid #000000;
    line-height: 2em;
  }

  #BandZ {
    height: 30%;
    margin-bottom: 0.75em;
    padding-left: 0em;
    width: 98%;
    border: 0.2em groove #000000;
  }
}

@media only screen and (max-width: 400px) {
  footer,
  footer a {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 365px) {
  .gallery_grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    justify-items: center;
  }
}
