* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header_1_2 {
  border-radius: 1em;
  color: #f81981;
  font-weight: bolder;
  text-align: center;
  font-variant: small-caps;
  background-image: linear-gradient(45deg, #ffddef 15%, #ffc0cb 85%);
}

.set_margin,
img,
section,
footer {
  margin: 1em;
}

ul > li {
  font-weight: 500;
}

#scoring {
  font-weight: 900;
  font-size: 1.25em;
  clear: both;
}

section,
#scoring {
  font-variant: small-caps;
}

section h2 {
  margin-bottom: -0.5em;
}

a:visited {
  color: #f81981;
}

a:hover,
a:focus {
  color: #2626ffb2;
  font-size: 1.25em;
}

footer {
  margin-top: 2em;
  font-size: 1em;
  font-weight: 400;
}

article {
  column-count: 3;
  column-gap: 35px;
  column-rule: 0.1em solid #040491;
}

.cas_headers {
  background-image: linear-gradient(45deg, #2626ffb2 25%, #ffc0cb 75%);
  font-variant: small-caps;
  text-align: center;
  margin: 0.5em 0.5em;
  border-radius: 1em;
}

#pavilion {
  width: 400px;
  border: 1em groove #ffc0cb;
  float: left;
}

#cas_burg {
  width: 400px;
  border: 1em groove #2626ffb2;
}
