* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* h1 for all html pages */
.main_headers {
  border: 0.15em solid #000000;
  color: white;
  font-weight: bolder;
  text-align: center;
  background-image: linear-gradient(15deg, #ffffff 1%, black 60%, white 95%);
}

/* index.html */
#intro_p {
  font-size: 1.5em;
  padding-right: 2em;
}

h2 {
  font-size: 1em;
  text-align: center;
  margin-top: -0.75em;
}

.set_margin,
section {
  margin: 1em;
}

.small_cap {
  font-variant: small-caps;
}

a:visited {
  color: #000000;
}

a:hover {
  font-size: 0.75em;
}

/* TRBL */
footer {
  padding: 2.85em 0em 0em 0em;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}

article {
  column-count: 3;
  column-gap: 35px;
  column-rule: 0.1em solid #000000;
  border: 0.01em dotted #000000;
  padding: 1em;
}

.main_img_section {
  clear: both;
  padding-top: 0.5em;
  text-align: center;
}
/* Three images on main page */
.main_images {
  width: 32%;
  border: 0.2em groove #000000;
  border-radius: 0.5em;
}

/* article photos*/
.art_photos {
  width: 35%;
  border: 0.2em solid #000000;
  float: left;
  margin: 0 0.25em 0em 0em;
}

/* TRBL  */
#logo {
  width: 6%;
  margin: 2.5em 0em 0em 1em;
  float: left;
}

/* index html */
#intro {
  font-size: 1.5em;
  font-weight: bolder;
}

.placeholder {
  text-align: center;
  border: 0.25em groove #000000;
  border-radius: 1em;
  width: 15%;
  margin-top: 3em;
  text-decoration: none;
  background-color: #000000;
}

.placeholder a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
}

/* NAVIGATION MENU FORMATTING */

#nav_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

#nav_menu ul li {
  display: inline-block;
  margin: 0em;
  padding: 0em;
}

#nav_menu ul li a {
  display: block;
  padding: 0.5em 1.2em; 
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}

#mobile_menu {
  display: none;
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 1145px) {
  article {
    column-count: 2;
    column-gap: 35px;
    column-rule: 0.1em solid #040491;
    border: 0.01em dotted #000000;
    padding: 1em;
  }
}

@media only screen and (max-width: 690px) {
  article {
    column-count: 1;
    column-gap: 35px;
    column-rule: 0.1em solid #040491;
    border: 0.01em dotted #000000;
    padding: 1em;
  }
}

@media only screen and (max-width: 840px) {
  footer {
    padding: 2em 0em 0em 0em;
    font-size: 1em;
    font-weight: 400;
    float: left;
  }
}

@media only screen and (max-width: 1145px) {
  #nav_menu ul li {
    float: inline-block;
    margin: 0.15em;
    padding: 0em;
  }
}

@media only screen and (max-width: 740px) {
  #nav_menu {
    display: none;
  }

  #mobile_menu {
    display: block;
  }
}
