* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* h1 for all html pages */
.main_headers {
  border: 0.15em solid #000000;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  background-image: linear-gradient(
    15deg,
    #ffffff 1%,
    #000000 60%,
    #ffffff 95%
  );
}

/* index.html */
#intro_p {
  font-size: 1.15em;
}

/* index html */
#intro {
  font-size: 1.25em;
  font-weight: bolder;
  align-content: flex-start;
  margin-bottom: 0em;
}

main {
  border: 0.25em solid #000000;
  display: flex;
  flex-basis: 100%;
  margin: 1em 0em;
  flex-direction: column;
}

h2 {
  font-size: 1em;
  text-align: center;
  margin-top: -0.75em;
}

.set_margin,
body {
  margin: 1em;
}

.small_cap {
  font-variant: small-caps;
}

a:visited {
  color: #000000;
}

a:hover {
  font-size: 1.2em;
}

/* TRBL */
footer {
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}

article {
  column-count: 3;
  column-gap: 35px;
  column-rule: 0.1em solid #000000;
  border: 0.01em dotted #000000;
  padding: 1em;
}

.main_img_section {
  padding-top: 1em;
  text-align: center;
  display: flex;
}
/* Three images on main page */
.main_images {
  width: 32%;
  border: 0.2em groove #000000;
  border-radius: 0.5em;
  flex-basis: 100%;
  margin: 0.65em 0.25em;
}

/* article photos*/
.art_photos {
  width: 35%;
  border: 0.2em solid #000000;
  float: left;
  margin: 0 0.25em 0em 0em;
}

#contact_logo {
  width: 15%;
}

.placeholder {
  text-align: center;
  border: 0.25em groove #000000;
  border-radius: 1em;
  width: 15%;
  margin-top: 3em;
  text-decoration: none;
  background-color: #000000;
}

.placeholder a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
}

.contact {
  display: flex;
  font-size: 2.5em;
  text-align: center;
  /* align-items: flex-start; */
  align-items: center;
}
